.download-section {
  position: relative;
  margin-top: 27rem;
  padding: 0 45rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  @media only screen and (max-width: 30em) {
    margin-top: 3rem;
    padding: 0 2rem;
    gap: 1.5rem;
  }

  h2 {
    color: #0d100a;
    font-size: 5.6rem;
    font-weight: 700;

    @media only screen and (max-width: 30em) {
      font-size: 2.5rem;
    }
  }

  p {
    color: #455a64;
    font-weight: 400;
    font-size: 1.8rem;

    @media only screen and (max-width: 30em) {
      font-size: 1.6rem;
    }
  }

  .phone3 {
    position: absolute;
    top: -70rem;
    left: 0;

    @media only screen and (max-width: 30em) {
      display: none;
    }
  }

  .phone4 {
    position: absolute;
    top: -50rem;
    right: 0;

    @media only screen and (max-width: 30em) {
      display: none;
    }
  }
}
