.header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.4rem 0 16.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;

  .heading {
    position: relative;
    font-size: 8rem;
    font-weight: 600;
    margin-top: 22rem;

    span {
      position: absolute;
      top: -5rem;
      left: 29rem;
    }
  }

  .note {
    font-size: 2rem;
    font-weight: 400;
    margin: 1.2rem 0 7.3rem 0;
  }

  .phone1 {
    position: absolute;
    top: 38rem;
    left: 0;
  }

  .phone2 {
    position: absolute;
    top: 65rem;
    right: 0;
  }
}
