.review-section {
  // padding: 0 40rem;
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  @media only screen and (max-width: 30em) {
    margin-top: 7rem;
    padding: 0 2rem;
    gap: 1rem;
  }

  .avatars {
    display: flex;
    align-items: center;
    gap: 3rem;

    @media only screen and (max-width: 30em) {
      gap: 1rem;
    }

    .user-inactive {
      width: 4rem;
      height: 4rem;
    }

    .user-active {
      width: 6rem;
      height: 6rem;
    }
  }

  .note {
    font-size: 3rem;
    font-weight: 500;
    color: #000;
    text-align: center;

    @media only screen and (max-width: 30em) {
      font-size: 1.6rem;
    }
  }

  .user {
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #000;
    opacity: 0.5;

    .name {
      font-size: 2rem;

      @media only screen and (max-width: 30em) {
        font-size: 1.6rem;
      }
    }

    .location {
      font-size: 1.3rem;
    }
  }
}
