.dashboard {
  font-family: 'Open Sans', sans-serif;
  display: flex;

  &__container {
    flex: 6;
    background-color: #e5e5e5;

    .widgets {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      margin: 3.5rem 0 0 5rem;
    }

    .listContainer {
      padding-right: 4rem;
      margin-left: 4.5rem;
      margin-top: 5rem;
      // margin-right: 9rem;
      margin-bottom: 3rem;

      .listTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 1.6rem;
        color: #000000;
        margin-bottom: 3rem;

        span {
          text-decoration-line: underline;
          color: #08ccad;
          cursor: pointer;
        }
      }
    }
  }
}
