.loading-spinner {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table {
  border: 1px solid #e2e2ea;

  .tableHead {
    font-family: inherit;
    font-weight: 400;
    font-size: 1.6rem;
    color: #75759e;
  }

  .tableCell {
    font-family: inherit;
    font-weight: 500;
    font-size: 1.6rem;
    color: #4b545a;
  }

  .bold {
    font-weight: 400;
    color: #000 !important;
  }
}

.cellWrapper {
  display: flex;
  align-items: center;
  gap: 5rem;

  // .image {
  //   margin-left: 10rem;
  // }
}

.MuiPaper-root.MuiTableContainer-root.MuiPaper-rounded {
  border-radius: 2rem !important;
}

.MuiTablePagination-selectLabel,
.MuiTablePagination-displayedRows,
.MuiList-root.MuiMenu-list {
  font-family: 'Graphik' !important;
  font-weight: 400 !important;
  font-size: 1.4rem !important;
  line-height: 15px !important;
  color: #30425a !important;

  opacity: 0.9 !important;
}

.MuiInputBase-root.MuiTablePagination-select {
  font-family: 'Graphik' !important;
  font-size: 1.4rem !important;
  background: #ffffff !important;
  border: 1px solid #dfe3e8 !important;
  // box-sizing: border-box;
  border-radius: 4px !important;
  padding: 1rem 0rem !important;
}

.MuiSvgIcon-root.MuiSelect-icon {
  margin: -0.3rem 0 0 0 !important;
  width: 2rem !important;
  height: 2rem !important;
  color: #8692a7;
}

.MuiList-root.MuiMenu-list {
  li {
    font-size: 1.4rem !important;
  }
}

.MuiToolbar-root.MuiTablePagination-toolbar {
  padding: 2rem 3rem 2rem 0 !important;
}

.MuiTablePagination-select.MuiSelect-select.MuiSelect-standard.MuiInputBase-input {
  font-size: 1.6rem !important;
  margin-top: 1rem !important;
  color: #8692a7 !important;
  font-family: 'Graphik' !important;
  font-weight: 400 !important;
}
